.container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}

.textarea {
    width: 890px;
    margin-left: 5px;
    height: 200px;
}

.btn {
    margin: 5px;
    padding: 5px 15px;
    font-size: 24px;
}