.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
}

.textarea{
    width: 940px;
    margin-left: 5px;
    height: 200px;
}

.btn {
    margin: 5px;
    padding: 5px 5px;
    font-size: 24px;
    transition:ease-in 0.5s;
}

.btn:hover {
    background-color: beige;
}

.btn:focus {
    background-color: beige;
}

.btn:active {
    background-color: burlywood;
}